body {
    font-family: arial;
    background: white;
  }
  #mainstopwatch{
    width: 300px;

    margin: 100px auto;
    padding: 60px 50px 100px;
    text-align: center;
    font-size: 40px;
    border-radius: 48px;
    box-shadow: -6px -8px 8px ,
      -6px -6px 8px ;
  }


  #mainstopwatch span {
    width: 55px;
    color: blue;
    margin: 3px;
    padding: 10px;
    border-radius: 38px;
    display: inline-block;
   box-shadow:-6px -6px 8px #9d9d9d,
      -6px 6px 8px #ffffff;
  }
  #mainstopwatch button {
    border: none;
    -webkit-appearance: none; 
    font-size: 22px;
    width: 140px;
    height: 55px;
    color: black; 
    background-color: orange;
    border-radius: 33px;
    transition: .3s;
  }
  #mainstopwatch button:nth-of-type(2) {
    background-color: yellow;
  }
  #mainstopwatch button:last-child {
      margin-top: 12px;
    background-color: green;
  }
  #mainstopwatch button:hover {
    background: grey;
    color: blue;
    border-radius: 38px;
  }
